body {
    background-image: url("../img/baners/apple-1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.hiro-logo {
    text-align: center;
    color: red;

}

.exit {
    
    text-decoration: none;
    color: black;
    border: 1px solid slategray;
    background-color: slategray;
    padding: 15px 20px;
    border-radius: 14px;
}

.exit:hover {
    color: aliceblue;
    border: 1px solod black;
    background-color: black;
}